.contain
{   
    
    background-image: url("./Elements/home.svg") ;
    background-size: cover;
    display: flex;
    width: 100vw;
    height: 100vh;
    min-width: 650px;
}

.logo img{

    width: 150px;
    height: auto;
}

.logo {
    /* position: absolute;
    top: -5%; */
    display: flex;
    width: 16%;
}
h3{
    line-height: 50px;
}

h4 {
    padding-top: 50px;
    font-weight: 400;
    letter-spacing: 4px;
    color: blanchedalmond;
    font-size: 30px;
}
.left_box {
    padding: 20px 90px;
    width: 550px;
    
    color: rgb(255, 255, 255);
}
.head {
    font-size: 50px;
    margin-bottom: 20px;
}
.text {
    font-size: 20px;
    color: rgba(180, 180, 180, 0.822);
}

.btn_grp {
    
    display: flex;
    margin-top: 50px;
}

button{
    margin: 10px;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgb(151, 50, 245);
    color: rgb(255, 255, 255);
    padding: 20px;
    border: none;
}
button img {

    width: 40px;
    vertical-align: middle;
    padding: 0px 15px;
}
#btn2 {
    background-color: #bc74ffc9;
}

.icon {
    color: bisque;
    width: 50px;
}

.last_container_left {
    display: flex;
    padding-top: 60px;
    justify-content: space-around;
}
.box{
    
    text-align: center;
    width: 180px;
}
.box img {
    padding-bottom: 10px;
}

.nav {
    padding-top: 20px;
    position: absolute;
    width: 500px;
    right: 30px;
    color: rgb(179, 179, 179);
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li {
    font-size: 25px;
    padding:10px;
}